
h1, h2 {
  font-family: Arial;
  color: grey;
}


h1 {
  border-bottom：1px solid black;
  font-size: 5rem;
}

p {
  color: maroon;
  font-size: 1.3rem;
}
body {
  font-family: Arial;
  font-size:  1.5em;
}
em {
  font-family: "Cascadia Mono";
}
body{
	color: gainsboro;
	color: rgb(65, 105, 225);
	color: #ef632b;
	color: rgba(39,177,182,0.8);
	color: #2775b6CC;
}
a
{
  text-decoration: none;
}