body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signup-container {
  background-color: #222;
  border: 1px solid #555;
  padding: 30px;
  width: 80%;
  max-width: 800px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

form label {
  display: block;
  text-align: left;
  margin-top: 10px;
}

form input,
form select {
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #333;
  border: 1px solid #555;
  color: #fff;
}

.required-note {
  text-align: right;
  font-size: 14px;
  margin-top: -10px;
}

form a {
  color: lightgreen;
}

form input[type="submit"] {
  background-color: #ddd;
  color: #333;
  cursor: pointer;
}



.from-group {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
}
.from-group label {
  margin-bottom: 5px; 
}
