.game-item img {
  width: 46px;
  height: 46px;
  margin-right: 10px;
  vertical-align: middle;
}
.game-item{
  list-style-type: none;
  color: #d0c5c0;
  white-space: nowrap;
  padding: 12px 0;
  padding-right: 50px;
  background-color: #262423;
}
.game-item-1 img {
  width: 46px;
  height: 46px;
  margin-right: 10px;
  vertical-align: middle;
  box-shadow: 0 0 0 2px #262423,
              0 0 0 4px white;
}
.game-item-1{
  list-style-type: none;
  color: #d0c5c0;
  white-space: nowrap;
  padding: 12px 0;
  padding-right: 50px;
  background-color: #3d3938;
}
body {
  background-color: #171615;
}
h1 {
  color: #ffffff;
  text-align: center;
}
.word{
  color: #ffffff;
}
.tableContainer{
  display: table;
  margin: 0 auto;
}
.work{
  float: right;
  display: table-cell;
  vertical-align: top;
  background-color: #3d3938;
}
.gameword{
  display:table-cell;
  vertical-align: top;
}
